article.post
  h4 Introduction
  p
    | Numetrify is an interactive web application designed to facilitate the implementation and visualization of various numerical methods for solving equations and systems of equations.
    | Aimed at students and researchers, Numetrify provides an intuitive interface for inputting matrices and vectors, allowing users to easily manipulate and modify their data.
    | The application leverages advanced graphical and tabular representations to display results, making complex numerical computations more accessible and understandable.
    | Whether you are working on academic studies or conducting research projects, Numetrify serves as a powerful tool to apply numerical methods effectively, enhancing both learning and productivity in the field of numerical analysis.
  p Created by:
  ul
    li Abraham Lora
    li Sebastian Escobar
    li Camilo Soto
    li Sebastian Marulanda
